<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-10 offset-2">
    <h2>Create a new Listing</h2>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="listing[title]"
          placeholder="Enter the title"
          required
        />
        <div class="valid-feedback">Looks Good!!</div>
        <div class="invalid-feedback">Please enter a title.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="listing[description]"
          placeholder="Enter the description"
          required
        />
        <div class="valid-feedback">Looks Good!!</div>

        <div class="invalid-feedback">Please enter a description.</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          name="listing[price]"
          placeholder="Enter the price"
          required
        />
        <div class="valid-feedback">Looks Good!!</div>

        <div class="invalid-feedback">Please enter a price.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          type="file"
          class="form-control"
          id="image"
          name="listing[image]"
          placeholder="Enter the image URL"
          required
        />
        <div class="valid-feedback">Looks Good!!</div>

        <div class="invalid-feedback">Please enter an image URL.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Category</label>
       <label for="location" class="form-label">Category</label>
        <select name="listing[category]">
          <option value="" disabled selected>Select a category</option>
          <option value="trending">Trending</option>
          <option value="rooms">Rooms</option>
          <option value="iconic cities">Iconic Cities</option>
          <option value="mountains">Mountains</option>
          <option value="castle">Castle</option>
          <option value="amazing pools">Amazing Pools</option>
          <option value="camping">Camping</option>
          <option value="farms">Farms</option>
          <option value="article">Article</option>
        <div class="valid-feedback">Looks Good!!</div>

        <div class="invalid-feedback">Please enter an image URL.</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="listing[location]"
          placeholder="Enter the location"
          required
        />
        <div class="valid-feedback">Looks Good!!</div>

        <div class="invalid-feedback">Please enter a location.</div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          name="listing[country]"
          placeholder="Enter the country"
          required
        />
        <div class="valid-feedback">Looks Good!!</div>

        <div class="invalid-feedback">Please enter a country.</div>
      </div>
      <button class="btn btn-dark" type="submit">Submit</button>
    </form>
  </div>
</div>
